# Database
# Replace with your actual database connection string
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE?schema=public"
